<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBFDE7BA1BE7051B00D2154F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFDE7D31BE7051B00D2154F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFDE7DE1BE7051B00D2154F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
